# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.
# DATABASE_URL="postgresql://postgres:password@localhost:5432/nextdb"

# NEXT_PUBLIC_API_BASE_URL=https://next-js-front-end-backend-integrati.vercel.app/api

AUTH_SECRET="XvjVRZuUS8oNDsOrJ1Z5HWfAbAJcVDk7UNuGlin9c4A=" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID=756735909881-2aiajsemodp7flb7ck6fodvqqe8g7hp0.apps.googleusercontent.com
AUTH_GOOGLE_SECRET=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


# Recommended for most uses
# psql 'postgresql://neondb_owner:npg_uEbhPK4v0BRs@ep-green-tree-a1y6hf2c-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
DATABASE_URL=postgres://neondb_owner:npg_uEbhPK4v0BRs@ep-green-tree-a1y6hf2c-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_uEbhPK4v0BRs@ep-green-tree-a1y6hf2c.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-green-tree-a1y6hf2c-pooler.ap-southeast-1.aws.neon.tech
PGHOST_UNPOOLED=ep-green-tree-a1y6hf2c.ap-southeast-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=npg_uEbhPK4v0BRs

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres://neondb_owner:npg_uEbhPK4v0BRs@ep-green-tree-a1y6hf2c-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://neondb_owner:npg_uEbhPK4v0BRs@ep-green-tree-a1y6hf2c.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-green-tree-a1y6hf2c-pooler.ap-southeast-1.aws.neon.tech
POSTGRES_PASSWORD=npg_uEbhPK4v0BRs
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgres://neondb_owner:npg_uEbhPK4v0BRs@ep-green-tree-a1y6hf2c-pooler.ap-southeast-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgres://neondb_owner:npg_uEbhPK4v0BRs@ep-green-tree-a1y6hf2c-pooler.ap-southeast-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require

# Neon Auth environment variables for Next.js
NEXT_PUBLIC_STACK_PROJECT_ID=provisioning
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=provisioning
STACK_SECRET_SERVER_KEY=provisioning



NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YWJzb2x1dGUtY291Z2FyLTc0LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_JCcIgw3hKCimKEcwn8vHOWFOObL0Eo7oIMP5XPoQNP